{% extends "base.html" %}
{% block title %}About | {% endblock %}
{% block head %}
<style>
    .form-field {
        padding-bottom:25px;
    }
</style>
{% endblock %}
{% block content %}
<h1>About Us</h1>
<div class="row">
    <p><a href="/">The Devils' Advocate</a> is the entirely student-run newspaper of <a href="http://sfuhs.org">San Francisco University High School</a>.</p>
    <p>Meet the editors in chief: <a href="mailto:zach.beischer_21@sfuhs.org">Zach Beischer '21</a>, <a href="mailto:evancarlo.fowler_21@sfuhs.org">Evan-Carlo Fowler '21</a>, and <a href="mailto:jeanette.nguyen_21@sfuhs.org">Jeanette Nguyen '21</a>.</p>
</div>