{% extends "base.html" %}
{% block title %}{{ info.title }} | {% endblock %}
{% block head %}
<style>
	@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Encode+Sans+Condensed|PT+Sans+Narrow|Saira+Extra+Condensed&display=swap');
	.share-icon {
		font-size:30px;
		color: gray;
		padding:10px;
		margin-top:20px;
	}
	.content p {
		font-size: 14pt;
		line-height: 2.0;
		font-family: 'EB Garamond', serif;
	}
</style>
{% endblock %}
{% block content %}
<div class="container">
	<div class="row text-center align-items-center justify-content-center">
		<h1 style="padding-bottom:25px">{{ info.formatted_title|safe }}</h1>
	</div>

	<div class="row text-center align-items-center justify-content-center">
		<div style="
		width: fit-content;
		max-width:calc(fit-content+100px);
	" class="row">
			<div class="col-md-4">
				<img src="{{ info.author.img }}" style="border-radius:50%; width:100px; height: 100px; object-fit:cover;">
			</div>
			<div class="col-md-8 align-items-center justify-content-center">
				<h4 style="
		padding-top: 15px;
	">By <a href="/authors/{{ info.author.id }}">{{ info.author.name }}</a></h4>
				<p style="font-color:gray; font-size:12pt">{{ info.author.role }}</p>
			</div>
		</div></div>
<!-- 
	<div class="row text-center align-items-center justify-content-center">
		<div class="col-md-8">
			<img src="{{ info.author.img }}" style="border-radius:50%; width:100px; height: 100px; object-fit:cover;">
		</div>
		<div class="col-md-4">
			<h4>By <a href="/authors/{{ info.author.id }}">{{ info.author.name }}</a></h4>
			<p style="font-color:gray; font-size:12pt">{{ info.author.role }}</p>
		</div>
	</div> -->
	<hr>
	<div class="row text-center align-items-center justify-content-center" style="margin-bottom:-10px">
		<br>
		<ul style="display:inline-block; list-style:none;">
			<li style="display:inline-block;">
				<a class="share-icon" href="https://www.facebook.com/sharer/sharer.php?u=http://devils-advocate.herokuapp.com/articles/{{ info.id }}"><i class="fab fa-facebook-f"> </i></a>
			</li>
			<li style="display:inline-block;">
				<a class="share-icon" href="https://twitter.com/home?status=http://devils-advocate.herokuapp.com/articles/{{ info.id }} {{ info.title }}"><i class="fab fa-twitter"> </i></a>
			</li>
			<li style="display:inline-block;">
				<a class="share-icon" href="mailto:?subject={{ info.title }} | THE DEVILS' ADVOCATE &body=http://devils-advocate.herokuapp.com/articles/{{ info.id }}"><i class="fas fa-envelope"></i></a>
			</li>
		</ul>
	</div>
	<hr>
	{% if info.img %}
		<div class="row justify-content-center align-items-center text-center" style="width:100%">
			<img src="{{ info.img }}" style="max-width:500px">
		</div>
		<hr>
		<!-- <br> -->
	{% endif %}
	<div class="row">
		<div class="content">
			<p>{{ info.contents|safe }}</p>
			<p><strong>Want to keep up with breaking news?</strong> <a href="/subscribe">Subscribe to our email newsletter</a>.</p>
		</div>
	</div>
</div>
{% endblock %}