{% extends "base.html" %}
{% block title %}{{ author.name }} | THE DEVILS' ADVOCATE{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ author.img }}" style="border-radius:50%; width:150px; height: 150px; object-fit:cover;">
		</div>
		<div class="col-md-9">
			<h1>{{ author.name }} ({{ author.class }})</h1>
			<p style="font-color:gray; font-size:15pt">{{ author.role }}</p>
		</div>
		<hr>
	</div>
	{% if author.articles %}
	<div class="row" style="padding-top:50px">
		<h1 style="width:100%">Recent Articles</h1>
		<br>
		<ul>
			{% for article in author.articles %}
			<li><h3><a href="/articles/{{ article.id }}">{{ article.formatted_title|safe }}</a></h3></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
</div>
{% endblock %}