{% extends "base.html" %}
{% block title %}Contact Us | THE DEVILS' ADVOCATE{% endblock %}
{% block content %}
<h1>Contact Us</h1>
<div class="row" style="padding:25px">
    <p>For news tips, editorial submissions, and corrections, contact the Editors in Chief: <a href="mailto:zach.beischer_21@sfuhs.org">Zach Beischer '21</a>, <a href="mailto:evancarlo.fowler_21@sfuhs.org">Evan-Carlo Fowler '21</a>, and <a href="mailto:jeanette.nguyen_21@sfuhs.org">Jeanette Nguyen '21</a>.</p>
    <p>For photo and issue requests, or other business questions, contact our business office.</p>
    <p>For questions or comments about the website or other technical issues, contact Technology Chair Isabella Hochschild ’21.</p>
    <p>For all other inquiries, contact <a href="mailto:devilsadvocate@sfuhs.org">devilsadvocate@sfuhs.org</a>.</p>
</div>
{% endblock %}