{% extends "base.html" %}
{% block title %}DEVILS' ADVOCATE{% endblock %}
{% block content %}
<div class="container">
	<div id="summernote"><p>Hello Summernote</p></div>
</div>
{% endblock %}

{% block head %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
  $('#summernote').summernote({
        placeholder: 'working on adding editing feature now!',
        tabsize: 2,
        height: 100
      });
});
</script>
{% endblock %}