{% extends "base.html" %}
{% if notification %}
<div id="notification-bar" class="notification-bar row text-center align-items-center justify-content-center" style="background-color:#ab192D">
    <h3 style="color:#ffffff; padding-right:25px">{{ notification.message }} Visit this <a href="{{ notification.link }}" style="text-decoration:underline; color:#fff">link</a> for more info!</h3><button class="btn btn-close" data-dismiss="notification-bar" type="button" id="dismissbar">&times;</button>
</div>
{% endif %}
{% block content %}
<div class="container">
	<!-- <div class="row justify-content-center">
		<p style="font-size:13px;padding:35px">WELCOME TO THE (IN PROGRESS) DIGITAL VERSION OF THE DEVILS' ADVOCATE! 👹📰</p>
	</div> -->
	<hr>
	<div class="row text-center align-items-center justify-content-center">
        <img style="max-width:400px" src="{{ url_for('static', filename='img/EICs.PNG') }}">
    </div>
    <div class="row text-center align-items-center justify-content-center">
        <h1>Welcome to the online version of the DA!</h1>
<!--         
            <div class="col-sm-3 align-items-center justify-content-center text-center">
                <span style="width:100%; font-size:20pt; font-family: 'Encode Sans Condensed', sans-serif;">INSIDE THE</span>
                <br>
                <span style="width:100%; font-size:50pt; font-family: 'Encode Sans Condensed', sans-serif;">DA</span>
            </div>
            <div class="col-sm-3" style="border-right:solid">
                <p class="feature-title">{{ info.features[0].title }}</p>
                <p class="feature-subtitle"><a href="#{{ info.features[0].id }}">Jump to article</a></p>
            </div>
            <div class="col-sm-3" style="border-right:solid">
                <p class="feature-title">{{ info.features[1].title }}</p>
                <p class="feature-subtitle"><a href="#{{ info.features[1].id }}">Jump to article</a></p>
            </div>
            <div class="col-sm-3">
                <p class="feature-title">{{ info.features[2].title }}</p>
                <p class="feature-subtitle"><a href="#{{ info.features[2].id }}">Jump to article</a></p>
            </div>
        </div>
        <hr>
        {% for this_article in info.articles %}
        <div class="row" class="article" id="{{ this_article.id }}">
            <div class="col-md-10">
                <h1>{{ this_article.title }}</h1>
                <h2 style="color:gray">by {{ this_article.author.name }}</h2>
            </div>
            <div class="col-sm-2">
                <img src="{{ this_article.author.img }}" style="max-height:100%">
            </div>
            <p class="article-preview" style="padding-top:25px; line-height:2.0">This is a preview of {{ this_article.author.name }}'s amazing article about {{ this_article.title }}! To finish reading this article, click <a href="{ url_for('get_article', article_id='this_article.id') }}">here</a>!</p>
        </div>
        {% endfor %} -->
    </div>
                                              





</div>

{% endblock %}
{% block head %}
<style>

.btn-outline-custom {
    color: var(--main-color) !important;
    background-color: transparent;
    background-image: none;
    border-color: var(--main-color) !important;
}

.btn-outline-custom:hover {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: #000;
}

.carousel-caption {
	background-color: #efefefef;
    opacity: 0.8;
    border-style: groove;
    border-color: #fff;
    color: #000;
}

hr {
	color: #656969;
	border-width: 2px;
}
</style>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
    $("#dismissbar").click(function(){
        $("#notification-bar").hide();
    }); 
});
</script>
{% endblock %}