{% extends "base.html" %}
{% if if_notification %}
<div id="notification-bar" class="notification-bar row text-center align-items-center justify-content-center" style="background-color:#ab192D">
    <h3 style="color:#ffffff; padding-right:25px">{{ notification.message }} Check it out <a href="{{ notification.link }}" style="text-decoration:underline; color:#fff">here</a>!</h3><button class="btn btn-close" data-dismiss="notification-bar" type="button" id="dismissbar">&times;</button>
</div>
{% endif %}
{% block content %}
<div class="container">
    <div class="row">
        <h1 class="main-heading">Featured Articles</h1>
        <div class="card-columns" style="width:100%; padding-top:50px">
        {% for article in info.features %}
        <div class="card d-flex" style="border:none; margin: 0 auto; max-width:100%; max-height:100%; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */; /*min-height:500px;*/ background:url('{{ article.img }}') no-repeat center; background-repeat: no-repeat; background-size:cover; background-size:100% ">
          <img src="{{ article.img }}" style="width:100%;visibility: hidden;" />
          <div class="card-body align-items-center d-flex justify-content-center" style="flex-wrap: wrap; height:fit-content; margin-top: -180px;">
			<h3 class="card-title"><a  style="font-family:'Libre Baskerville', serif !important; color: #fff; background-color:#ab192d; opacity:0.7; font-weight:bold; text-decoration:none" href="/articles/{{ article.id }}">{{ article.title }}</a></h3>
			<div class="break"></div><h5>{% if article.author_count == 2 %}<a href="/authors/{{ article['authors'][0]['id'] }}" class="card-link" style="text-transform:uppercase; color: #fff; background-color:#ab192d; opacity:0.7; ">{{ article['authors'][0].name }} '{{ article['authors'][0].class }}</a><span style="color: #fff; background-color:#ab192d; opacity:0.7; "> and </span><a href="/authors/{{ article['authors'][1].id }}" class="card-link" style="text-transform:uppercase; color: #fff; background-color:#ab192d; opacity:0.7; ">{{ article['authors'][1].name }} '{{ article['authors'][1].class }}</a>{% else %}<a href="/authors/{{ article.authors[0].id }}" class="card-link" style="text-transform:uppercase; color: #fff; background-color:#ab192d; opacity:0.7; ">{{ article.authors[0].name }} '{{ article.authors[0].class }}</a>{% endif %}</h5>
		  </div>
        </div>
        {% endfor %}
    </div>
    <div class="row">
        <h1 class="main-heading">Sections</h1>
        <div class="row align-items-center justify-content-center text-center">
            {% for section in data.sections %}
            <a class="btn btn-custom" style="width:fit-content; font-size:20pt; text-transform:uppercase; margin:25px; padding:15px" id="{{ data.sections[section]['id'] }}-btn" href="/sections/{{ data.sections[section]['id'] }}">{% if data.sections[section]['name']=="A&E" %}arts & entertainment{% else %}{{ data.sections[section]['name'] }}{% endif %}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row" style="width:100%">
        <h1 class="main-heading" style="width:100%">More</h1>
    </div>
</div>

{% endblock %}
{% block head %}
<style>

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

.btn-outline-custom {
    color: var(--main-color) !important;
    background-color: transparent;
    background-image: none;
    border-color: var(--main-color) !important;
}

.btn-outline-custom:hover {
    color: #fff !important;
    background-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 50px;
  color: #000;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 50px;
  color: #000;
}

.carousel-caption {
	background-color: #efefefef;
    opacity: 0.8;
    border-style: groove;
    border-color: #fff;
    color: #000;
}

hr {
	color: #656969;
	border-width: 2px;
}

.main-heading {
    border-bottom:2px solid #656969;
    width:100%;
}

.break {
  flex-basis: 100%;
  height: 0;
}
</style>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
    $("#dismissbar").click(function(){
        $("#notification-bar").hide();
    }); 
});
</script>
{% endblock %}