{% extends "base.html" %}
{% block title %}Log In | {% endblock %}
{% block content %}
<div class="row align-items-center justify-content-center">
	<div style="width:100%; text-align:center; padding-bottom:25px">
			<h1>Log In</h1>
	</div>
	<br>
	<form action="" method="post" class="form">
	  <p>Email* (use your sfuhs.org email)</p>
	  {{ form.email }}
	  <p style="padding-top:10px;">Access Code*</p>
	  {{ form.password }}
	  {{ form.hidden_tag() }}
	  <br>
	  <br>
	  {{ form.submit }}
	  <input type=hidden value="{{ next or '' }}" name=next>
	</form>
</div>
{% endblock %}
{% block js %}
{% if if_alert %}
<script>
	$(document).ready(function() {
	  alert("{{ alert }}");
	  console.log("{{ alert }}")
	});
</script>
{% endif %}
{% endblock %}