{% extends "base.html" %}
{% block title %}{{ info.name }}'s Senior Will | {% endblock %}
{% block head %}
<style>
    .senior-will-list {
        text-align: left !important;
        padding: 20px;
        line-height: 1.8;
    }
</style>
{% endblock %}
{% block content %}
<div class="container align-items-center justify-content-center text-center">
    <h1 style="margin-bottom:10px">{{ info.name }}'s Senior Will</h1>
    <hr>
    {% if info.cause_of_death %}
    <h3 id="cause-of-death">Cause of Death</h3>
    <span>{{ info.cause_of_death|safe }}</span>
    {% endif %}
    {% if info.statement %}
    <h3 id="statement">Statement</h3>
    <p>{{ info.statement|safe }}</p>
    {% endif %}
    {% if info.freshmen %}
    <h3 id="freshmen">Freshmen</h3>
    <ul class= "senior-will-list">
        {% for this_person in info.freshmen %}
        <li><strong>{{ this_person|safe }}</strong>: {{ info.freshmen[this_person]|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if info.sophomores %}
    <h3 id="sophomores">Sophomores</h3>
    <ul class= "senior-will-list">
        {% for this_person in info.sophomores %}
        <li><strong>{{ this_person|safe }}</strong>: {{ info.sophomores[this_person]|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if info.juniors %}
    <h3 id="juniors">Juniors</h3>
    <ul class= "senior-will-list">
        {% for this_person in info.juniors %}
        <li><strong>{{ this_person|safe }}</strong>: {{ info.juniors[this_person]|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if info.faculty %}
    <h3 id="faculty">Faculty</h3>
    <ul class= "senior-will-list">
        {% for this_person in info.faculty %}
        <li><strong>{{ this_person|safe }}</strong>: {{ info.faculty[this_person]|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if info.miscellaneous %}
    <h3 id="miscellaneous">Miscellaneous</h3>
    <ul class= "senior-will-list">
        {% for this_person in info.miscellaneous %}
        <li><strong>{{ this_person|safe }}</strong>: {{ info.miscellaneous[this_person]|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
{% block js %}
<script>$("#logo_header").attr("src","http://devils-advocate.herokuapp.com/static/img/senior_wills_header.jpg");</script>
{% endblock %}