{% extends "base.html" %}
{% block title %}{{ info.name }} | INCUB8{% endblock %}
{% block content %}
<div class="container">
	{% if info.image %}
	<div class="row align-items-center justify-content-center">
		<img src="{{ info.image }}" style="max-width:75%; max-height:50vh">
	</div>
	{% else %}
	<div class="row align-items-center justify-content-center" id="investor-or-startup-row" style='background-image: url("{{ url_for('static', filename='img/backgrounds/background3.jpeg') }}"); max-height: 30vh; background-size: cover; background-position: center; margin-bottom:25px'>
		<div>
			<h2 style="background-color: transparent;background-image: none;border-color: #fff !important;font-size: 25px !important;color: #fff !important;width: 175px; text-transform:uppercase">{{ info.name }}</h2>
		</div>
	</div>
	{% endif %}
	<div class="row align-items-center justify-content-center" style="background-color: var(--background-color-2); margin-left: -75px; margin-right: -75px; height:35px">
		<div class="col-sm-3">
		</div>
		<div class="col-sm">
			<a class="incognito-link" href="/explore?category={{ info.category }}" style="color:inherit !important">
			<i class="far fa-compass"></i>
			<span>{{ info.category }}</span>
			</a>
		</div>
		{% if info.location.address %}
		<div class="col-sm">
			<a class="incognito-link" href="/explore?country={{ info.location.country }}" style="color:inherit !important">
			<i class="fas fa-map-marker-alt"></i>
			<span>{{ info.location.address }}</span>
			</a>
		</div>
		{% else %}
			{% if info.location %}
			<div class="col-sm">
				<a class="incognito-link" href="/explore?in={{ info.location }}" style="color:inherit !important">
				<i class="fas fa-map-marker-alt"></i>
				<span>{{ info.location }}</span>
				</a>
			</div>
			{% endif %}
		{% endif %}
		<div class="col-sm-3">
		</div>
	</div>
<!-- 	<div class="row share-strip" style="padding-top:25px">
		<div class="col col-md-4">
		</div>
		<div class="col col-xs-1 share-item">
			<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="Check out {{ info.name }}{% if info.social.twitter_username %} (@{{ info.social.twitter_username }}){% endif %} on #INCUB8... " data-via="incub8sf" data-hashtags="INCUB8" data-show-count="false">Tweet</a>
		</div>
		<div class="col col-xs-1 share-item">
			<div class="fb-share-button" data-href="http://incub8.herokuapp.com/startups/{{ info.id }}"  data-layout="button_count"></div>
		</div>
		<div class="col col-xs-1 share-item">
			<a data-pin-do="buttonBookmark" href="https://www.pinterest.com/pin/create/button/">Save</a>
		</div>
		<div class="col col-xs-1 share-item">
			<a class="incognito-link" href="mailto:?subject=Check out {{ info.name }} on INCUB8!&body=Check out this cool startup... http://incub8.herokuapp.com/startups/{{ info.id }}" style="height: 20px; display: inline-block;"><i style="height: 100%; width: 100%;" class="far fa-envelope-open"></i></a>
		</div>
		<div class="col col-md-4">
		</div>
	</div> -->
	<div class="row" style="padding-bottom: 25px; padding-top: 20px">
		<div class="col">
			{% if is_investor %}
			<h2 style="display:inline">{{ info.name }}</h2><button id="save_this_startup" style="font-size:25px;color:var(--main-color)">
			<i class="fas fa-bookmark"></i></button>
			{% else %}
			<h2>{{ info.name }}</h2>
			{% endif %}
			{% if info.type == "test" %}
			<p>THIS IS A TEST!! IGNORE IT...</p>
			{% endif %}
		</div>
		<div class="clearfix social-row" style="padding-top:35px">
			<div class="float-right" style="font-size:14px">
				<ul id = "social-sharing" style="display:inline; list-style:none;">
					<li class="share-text">Share </li>
					<li class="share-tw"><a href="http://twitter.com/share?text=Check out {{ info.name }}{% if info.social.twitter_username %} (@{{ info.social.twitter_username }}){% endif %} on #INCUB8... http://incub8.herokuapp.com/startups/{{ info.id }} #INCUB8 via @incub8sf"><span><i class="fab fa-twitter"> </i></span></a></li>
					<li class="share-fb"><a href="https://www.facebook.com/sharer.php?u=http://incub8.herokuapp.com/startups/{{ info.id }}&p={{ info.name }}"><span><i class="fab fa-facebook-f"> </i></span></a></li>
					<li class="share-pinterest"><a href="http://pinterest.com/pin/create/button/?url=http://incub8.herokuapp.com/startups/{{ info.id }}&description=Check out {{ info.name }}{% if info.social.pinterest_username %} (@{{ info.social.pinterest_username }}){% endif %} on #INCUB8... http://incub8.herokuapp.com/startups/{{ info.id }} #INCUB8 via @incub8sf"><span><i class="fab fa-pinterest"> </i></span></a></li>
					<li class="share-linkedin"><a href="http://www.linkedin.com/shareArticle?mini=true&url=http://incub8.herokuapp.com/startups/{{ info.id }}&title={{ info.name }} on #INCUB8&summary=Check out {{ info.name }} on #INCUB8...&source=http://incub8.herokuapp.com"><span><i class="fab fa-linkedin-in"> </i></span></a></li>
					<li class="share-email"><a href="mailto:?subject=Check out {{ info.name }} on INCUB8!&body=Check out this cool startup... http://incub8.herokuapp.com/startups/{{ info.id }}"><span><i class="far fa-envelope-open"></i></span></a></li>
				</ul>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-lg-12">
			<p>Description: {{ info.description }}</p>
			{% if admin %}
			<p>Data:</p>
			{{ info }}
			{% endif %}
		</div>
	</div> -->
	<nav class="navbar navbar-expand-md navbar-light bg-light" style="text-transform:uppercase; background-color:var(--background-color-2) !important;">
		<!-- <a class="navbar-brand" href="#">Navbar</a> -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#startup_navbar" aria-controls="startup_navbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="startup_navbar">
			<ul class="navbar-nav" style="margin-left:25%">
				<li class="nav-item startup-nav-item active" id="information_link">
					<a class="nav-link" href="#information" id="information_a">Information<span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item startup-nav-item" id="updates_link">
					<a class="nav-link startup-nav-link" href="#updates" id="updates_a">Updates</a>
				</li>
				<li class="nav-item startup-nav-item" id="comments_link">
					<a class="nav-link startup-nav-link" href="#comments" id="comments_a">Comments</a>
				</li>
				<li class="nav-item startup-nav-item" id="donate_link">
					<a class="nav-link startup-nav-link disabled" href="#donate" id="donate_a">Donate</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="row startup-row" id="information_div">
		<h3 class="startup-row-heading">Information</h3><br>
		<p>{{ info.description }}</p>
	</div>
	<div class="row startup-row" id="updates_div">
		<h3 class="startup-row-heading">Updates</h3>
		{% if info.social %}
		<span style="height: 25px; display: inline-block; vertical-align: middle;">Follow <strong>{{ info.name }}</strong> on social media!</span>
		<ul id="social-ul" style="display:inline; list-style:none; font-size: 25px">
			{% if info.social.facebook %}
			<li class="share-fb"><a href="{{ info.social.facebook }}"><span><i class="fab fa-facebook"> </i></span></a></li>
			{% endif %}
			{% if info.social.instagram %}
			<li class="share-instagram"><a href="{{ info.social.instagram }}"><span><i class="fab fa-instagram"> </i></span></a></li>
			{% endif %}
			{% if info.social.twitter %}
			<li class="share-tw"><a href="{{ info.social.twitter }}"><span><i class="fab fa-twitter"> </i></span></a></li>
			{% endif %}
			{% if info.social.pinterest %}
			<li class="share-pinterest"><a href="{{ info.social.pinterest }}"><span><i class="fab fa-pinterest"> </i></span></a></li>
			{% endif %}
		</ul>
		<br>
		{% endif %}
		{% if info.website %}
		<span style="height: 25px; display: inline-block; vertical-align: middle;">Check out <strong>{{ info.name }}</strong>'s website!</span>
		<ul id="social-ul" style="display:inline; list-style:none; font-size: 25px">
			<li class="share-fb"><a href="{{ info.website }}"><span><span style="font-size:10px; padding-right:20px">{{ info.website }}</span><i class="fas fa-external-link-alt"></i><i style="display:none" class="fas fa-globe"></i></span></a></li>
		</ul>
		<br>
		{% endif %}
		{% if info.email %}
		<span style="height: 25px; display: inline-block; vertical-align: middle;">Contact <strong>{{ info.name }}</strong> !</span>
		<ul class="social-ul" style="display:inline; list-style:none; font-size: 25px">
			<li class="social-ul" style="display:inline; list-style:none; font-size: 25px">
				<a href="mailto:?subject=Hey {{ info.name }}... I have a question&body=I found you on #INCUB8 (http://incub8.herokuapp.com/startups/{{ info.id }}) and was wondering...">
					<span>
						<i class="far fa-envelope-open"></i>
					</span>
				</a>
			</li>
		</ul>
		<br>
		{% endif %}
	</div>
	<div class="row startup-row" id="comments_div">
		<h3 class="startup-row-heading">Comments</h3>
		<!-- <form action = "/startups/{{ info.id }}#comments?comment"> -->
		<form action = "?comment", method="POST">
			<div class="row justify-content-center align-items-center" style="margin-right: initial;margin-left: initial;">
				<div class="row form-group" style="margin-right: initial;margin-left: initial; width:100%; margin-bottom:7.5px">
					<div class="col" style="padding:0; padding-right:7.5px">
						{{ comment_form.name }}
					</div>
					<div class="col" style="padding:0; padding-left:7.5px">
						{{ comment_form.email }}
					</div>
				</div>
				{{ comment_form.text }}
				{{ comment_form.submit }}
			</div>
		</form>
		<hr style="margin-bottom: 25px">
		{% if info.comments %}
		<div id="comments_inner" style="padding-top:10px">
			{% for this_comment in info.comments %}
			<div class="comment">
				<h4>{{ this_comment.name }}</h4>
				<small>{{ this_comment.date }} <span style="font-style:italic">({{ this_comment.time }})</span></small>
				<p style="padding-top:20px">{{ this_comment.text }}</p>
			</div>
			{% endfor %}
			<!-- <div class="comment">
				<h4>Name</h4>
				<small>November 24, 2018</small>
				<p style="padding-top:20px">Comment</p>
			</div>
			<div class="comment">
				<h4>Name 2</h4>
				<small>November 23, 2018</small>
				<p style="padding-top:20px">Comment</p>
			</div> -->
		</div>
		{% else %}
		<p style="font-style:italic">There aren't any comments on this startup yet. Start a discussion!</p>
		{% endif %}
	</div>
	<div class="row startup-row" id="donate_div">
		<h3 class="startup-row-heading">Donate</h3>
		<p style="font-style:italic">Sorry! This startup has not signed up to accept donations.</p>
	</div>
</div>
{% endblock %}
{% block js %}
<script>
possibilities = ["information","updates","comments","donate"]
the_url = document.location + ''
var data = the_url.split("#");
data = data[1];
console.log(data)
if (possibilities.includes(data)) {
	console.log("bro")
$( ".startup-row" ).hide();
$( ".startup-nav-item" ).each(function() {
	if ($(this).is('.active')) {
		$(this).removeClass('active')
	}
});
$( "#"+data ).show();
$( "#"+data+"_div" ).show();
$("#"+data+"_link").addClass('active')
}
else {
	$( ".startup-row" ).hide();
	$( ".startup-nav-item" ).each(function() {
		if ($(this).is('.active')) {
			$(this).removeClass('active')
		}
	});
	$( "#information" ).show();
	$( "#information_div" ).show();
	$("#information_link").addClass('active')
}
</script>
<script>
function hashchanged(){
  var hash = location.hash.replace( /^#/, '' );
		possibilities = ["information","updates","comments","donate"]
		the_url = document.location + ''
		var data = the_url.split("#");
		data = data[1];
		console.log(data)
		if (possibilities.includes(data)) {
			console.log("bro")
		$( ".startup-row" ).hide();
		$( ".startup-nav-item" ).each(function() {
			if ($(this).is('.active')) {
				$(this).removeClass('active')
			}
		});
		$( "#"+data ).show();
		$( "#"+data+"_div" ).show();
		$("#"+data+"_link").addClass('active')
		}
		else {
			$( ".startup-row" ).hide();
			$( ".startup-nav-item" ).each(function() {
			if ($(this).is('.active')) {
				$(this).removeClass('active')
			}});
		$( "#information" ).show();
		$( "#information_div" ).show();
		$("#information_link").addClass('active')
		}
}

window.addEventListener("hashchange", hashchanged, false);
</script>
<script>
$( document ).ready(function() {
	var url = document.location + '';
	console.log(url)
	if (url.includes("?comment")) {
		history.pushState({
			id: '{{ info.id }}_comments'
		}, '{{ info.name }} | INCUB8', '/startups/{{ info.id }}#comments');
		$( ".startup-row" ).hide();
		$( ".startup-nav-item" ).each(function() {
		if ($(this).is('.active')) {
			$(this).removeClass('active')
		}});
		$( "#comments" ).show();
		$( "#comments_div" ).show();
		$("#comments_link").addClass('active')
	}
});
</script>
{% if is_investor %}
<script>
	console.log("hiiiiii yall maybe its working")
$( "#save_this_startup" ).click(function() {
	obj = {}
	obj["name"] = "{{ info.name }}"
	obj["id"] - "{{ info.id }}"
  $.ajax( { url: 'https://api.mlab.com/api/1/databases/incub8sf/collections/Investors?apiKey={{ api_key }}&q={"email":"{{ investor_email }}"}',
			  data: JSON.stringify( { "$push" : { "saved" : obj } } ),
			  type: "PUT",
			  contentType: "application/json" } );
});
</script>
{% endif %}
<div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
<!-- <script async defer src="//assets.pinterest.com/js/pinit.js"></script> -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
{% block head %}
  <meta property="og:url"           content="http://incub8.herokuapp.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="INCUB8" />
  <meta property="og:description"   content="INCUB8 is a web app that allows teen start-ups to share their projects with potential investors and obtain the necessary funding and expertise necessary to develop their ideas." />
  <meta property="og:image"         content="http://incub8.herokuapp.com/static/img/logo.png" />
  <style>
  #social-sharing > li {
  	display:inline;
  }
  li.startup-nav-item.active {
    border-bottom: black;
    border-width: 2px;
    border-bottom-style: solid;}
   li.startup-nav-item.active:hover {
    border-bottom: black !important;
    border-width: 2px !important;
    border-bottom-style: solid !important;}
    li.startup-nav-item.active > .startup-nav-link:hover {
    text-decoration: none !important;
    text-decoration-line: none !important;
	text-decoration-style: initial !important;
    color:initial !important;}
    li.startup-nav-item:hover {
    border-bottom: darkgray;
    border-width: 2px;
    border-bottom-style: solid;}
    li.startup-nav-link>a:hover {
    text-decoration:none !important;
	}
	#information_a, #updates_a, #comments_a, #donate_a {
		/*text-decoration:none !important;*/
		text-decoration-line: none !important;
		text-decoration-style: initial !important;
	}
	#information_a:hover, #updates_a:hover, #comments_a:hover, #donate_a:hover {
		/*text-decoration:none !important;*/
		text-decoration-line: none !important;
		text-decoration-style: initial !important;
	}
/*	.nav-link-inner {
		text-decoration-line: none !important;
		text-decoration-style: initial !important;
	}
	.nav-link-inner:hover {
		text-decoration-line: none !important;
		text-decoration-style: initial !important;
		color: initial !important;
	}*/
	.startup-row {
		padding-left: 25px !important;
		padding-right: 25px !important;
		display:none;
	}
	/*.startup-row.active {
		display: initial;
	}*/
	#social-ul > li {
		display: inline;
		padding: 10px;
	}
	.startup-row-heading {
    width: 100%;
    padding-bottom: 25px;}
    .startup-row > p {
    	font-size: 12pt;
    }

    #comment_name {
    	margin-bottom: 10px;
    }
    #comment_text {
    	margin-bottom: 25px;
    }
    #comment_submit {
    	text-transform: uppercase;
    	width: 40%;
    	padding: 7.5px;
    }
    .comment {
    	border-style: double;
	    padding: 20px;
	    border-color: lightgray;
	    border-radius: 0.25px;
	    margin-top: 20px;
    }
  </style>
{% endblock %}