{% extends "base.html" %}
{% block title %}INCUB8 | Startups{% endblock %}
{% block startupsisactive %}active{% endblock %}
{% block content %}
<div class="container">
	<div class="row" id="idea_1">
		{% for this_startup in startups %}
		<!-- <div class="card-columns" id="{{ this_startup.id }}_div"> -->
			<div>
				<div class="startup" id="startup_{{this_startup.id}}_div">
					<img id="startup_{{this_startup.id}}_pic_1" src="{{ this_startup.image }}">
					<h2 class="title" style="width:100%"><a href="{{ url_for('get_startup' ,startup_id=this_startup.id) }}" class="link">{{ this_startup.name }}</a></h2>
					<h4 class="post-subheading" style="width:100%; font-style:italic">{{ this_startup.location }}</h4>
					<h4 class="post-subheading" style="width:100%">Category: <a class="link" href="/explore?category={{ this_startup.category }}">{{ this_startup.category }}</a></h4>
					<br>
					<div class="teaser" style="padding-top:20px; width:100%">
						{{ this_startup.description|safe }}
					</div>
				</div>
        </div>
		<hr>
		{% endfor %}
	</div>
		<div class="card-columns">
		{% for this_startup in startups %}
		  <div class="card" id="startup_{{ this_startup.id }}">
		    <img class="card-img-top img-fluid" id="startup_{{this_startup.id}}_pic" src="{{ this_startup.image }}" alt="{{this_startup.name}}">
		    <div class="card-block">
		     <h4 class="card-title">{{this_startup.name}} sfd</h4>
		     <p class="card-text">{{this_startup.description}} hsdfkg</p>
		    </div>
		    <div class="card-footer">
		      <small class="text-muted">{{this_startup.location}} asffa / <a class="link" href="/explore?category={{ this_startup.category.lower() }}">{{this_startup.category}} afsd</a></small>
		    </div>
		  </div>
		  {% endfor %}
		</div>
</div>
{% endblock %}