{% extends "base.html" %}
{% block title %}Log In | Devils' Advocate{% endblock %}
{% block content %}
<!-- <h1>Registration</h1> -->
<div class="row align-items-center justify-content-center">
	<div style="width:100%; text-align:center; padding-bottom:25px">
			<h1>Log In</h1>
	</div>
	<br>
	<form action="/login" method="post" class="regForm">
	  <p>Email</p>
	  {{ form.email }}
	  <p style="padding-top:10px;">Password</p>
	  {{ form.password }}
	  {{ form.hidden_tag() }}
	  <br>
	  <br>
	  {{ form.submit }}
	  <input type=hidden value="{{ next or '' }}" name=next>
	</form>
</div>
{% endblock %}